.searchbar {
  margin-bottom: 1.4em;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 80%;
  position: relative;
}

.searchbar-input {
  position: absolute;
  left: 10px;
  top: 0;
  min-height: 90%;
  width: 95%;
  border: 0;
  outline: none;
  font-size: 1.2em;
}

.searchbar-input-box {
  border: 1px rgb(224, 224, 224) solid;
  box-shadow: .1em .2em .1em rgba(0, 0, 0, .1);
  position: relative;
  min-height: 2.8em;
  min-width: 80%;
  margin-bottom: inherit;
}

.searchbar-input-box:hover {
  box-shadow: .1em .2em .2em rgba(0, 0, 0, .2);
}

.searchbar-btn-group {
  min-width: 60%;
  min-height: 40%;
}

.searchbar-btn {
  margin-right: 1.2em;
  min-width: 2.2em;
  min-height: 2.2em;
  width: 40%;
  height: 40%;
  line-height: 2em;
  background-color: rgb(237, 240, 242);
  color: #6d706c;
  border: 0px;
  font-weight: bold;
  font-size: 1em;
}

.searchbar-btn:hover {
  border: 1px solid #a29f9f;
  color: #000000;
  background-color: rgba(237, 240, 242, .6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
